.button,
.btn {
  color: white;
  display: inline-block;
  text-align: center;
  padding: 0.55em 1em 0.75em;
  font-weight: bold;
  line-height: 1.2;
  background: color(coralred);
  text-decoration: none;
  transition: background 0.15s ease-in;

  &:hover,
  &:active,
  &:focus {
    transition: background 0.15s ease-out;
    background: color(midnight);
  }

  &--secondary {
    @extend .btn;

    background: lighten(desaturate(color(marine), 30%), 10%);
    background: color(marine);
  }
}

.btn + .btn {
  @include bp(max tiny) {
    margin-top: vr(0.5);
  }
  @include bp(tiny) {
    margin-left: vr(0.25);
  }
}