$adaptive-placeholder: (border-radius: 0, border-color: color(bleu-de-france),  valid-color: color(bleu-de-france),
active-color: color(bleu-de-france));

input {
  @include adaptive-placeholder;
  color: color(revolver);

}