section {
  margin: vr(5) 0;
}

.s--colored {
  margin: 0;
  padding: vr(5) 0;
}

.s__gray {
  background: #ddd;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.s__yellow {
  background: color(sunglow);
}

@each $theme in map_keys($themes) {
  $map: map-get($themes, $theme);

  .s__#{$theme} {
    background: map-get($map, background);
      color: map-get($map, color);

    @if map-has-key($map, color) {
      color: map-get($map, color);
    }
  }
}