section {
  margin: vr(3) 0;
  @include bp(med) {
    margin: vr(5) 0;
  }
}

.s--colored {
  margin: 0;
  padding: vr(3) 0;
  @include bp(med) {
    padding: vr(5) 0;
  }
}

.s--small {
  &.s--colored {
    padding: vr(2) 0;
    text-align: center;
  }

  p {
    max-width: 20rem;
    margin-right: auto;
    margin-left: auto;
  }
}

@each $theme in map_keys($themes) {
  $map: map-get($themes, $theme);

  .s__#{$theme} {
    background: map-get($map, background);
    color: map-get($map, color);

    @if map-has-key($map, color) {
      color: map-get($map, color);
    }
  }
}