// Typography
// ---------------
// Sets typography for all of document
// ===============
//
html {
  @include ff(primary);
  @include typi-base;
  // font-weight: 300;
}

body {
  // Optmizes font rendering for legibility.
  // May break with some browsers, comment out as necessary.
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
}

.h1 {
  @include typi($h1-map);
}

.h2 {
  @include typi($h2-map);
}

.h3 {
  @include typi($h3-map);
  @include ff(secondary);
  font-weight: 700;
}

.l1 {
  @include ff(logo);
  @include typi($h4-map);
  position: relative;
  top: 0.1em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  span { font-size: 1.1em;}
}

.th1 {
  @include typi($interrupt-header);
  @include ff(logo);
}

.h4 {
  @include typi($h4-map);
}

.h6 {
  @include typi($h6-map);
}

h1 {
  font-size: ms(3);
  font-weight: normal;
}

h3 {
  font-size: ms(1);
  font-weight: normal;
}

h4 {
  font-weight: normal;
}

strong {
  @include fw(bold);
}

em {
  font-style: italic;
}

pre {
  white-space: pre;
}

.o-cursive {
  @include ff(secondary);
}

.o-italic {
  font-weight: bold;
  font-style: italic;
  text-align: center;

  @include ff(secondary);
}

a {
  color: color(charcoal);
  text-decoration: underline;

  &:hover,
  &:active,
  &:focus {
    color: color(carmine);
    text-decoration: none;
  }
}

p {
  line-height: 1.4;
}