// Typography
// ---------------
// Sets typography for all of document
// ===============

html {
  @include typi-base;

  @include ff(text);

  @include font-smoothing;

  font-weight: 500;
  color: #111;

  // Optmizes font rendering for legibility.
  // May break with some browsers, comment out as necessary.
  text-rendering: optimizeLegibility;

  // Remove discretionary-ligatures as necessary
  font-variant-ligatures: common-ligatures discretionary-ligatures historical-ligatures;
}

.h1,
.h2,
.subtitle {
  @include ff(header);
}

.h1 {
  @include typi($h1-font-map);

  display: inline-block;

  // border-bottom: vr(0.25) solid black;

  // &:after {
  //   content: '';
  //   display: block;
  //   margin-top: vr(0.75);
  //   width: vr(3);
  //   height: vr(0.5);
  //   background: black;
  // }
}

.subtitle {
  font-weight: 500;

  @include typi($h3-font-map);
  color: color(mine);
}

.h2 {
  @include typi($h2-font-map);

  font-weight: 500;

  // color: color(mine);
}

.h3 {
  @include typi($h3-font-map);
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

pre {
  white-space: pre;
  tab-size: 2;
}