.Event {
  background: white;
}

// Event Header Image
// ==================
.Event__header {
  display: block;
  position: relative;
  background-position: center center;
  background-size: cover;
  height: 0;
  padding-bottom: 56.25%;
  border-bottom: 1px solid #ddd;
}

.Event__logo {
  position: absolute;
  bottom: 0;
  right: vr(1);
  width: vr(4.5);
  height: vr(4.5);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

// Event body
// ==================
.Event__body {
  @include cf;

  position: relative;
  padding: vr(0.75);
}

.Event__title {
  margin-bottom: vr(0.5);
}

.Event__desc {
  @include typi($h6-map);
}

.Event__aside {
  @include typi($even-smaller-map);

  margin-top: vr(0.5);

  .o-btn {
    display: block;
  }

  .ticket-info {
    display: inline-block;
    padding: 0.75em 0.75em;
    color: black;
    border: 1px solid #ddd;
  }
}

.Event__time {
  margin-top: vr(0.75);

  .css-clock, span {
    display: inline-block;
    vertical-align: middle;
  }

  span {
    position: relative;
    top: -0.25em;
    margin-left: 0.25em;
  }
}

.Event__location {
  display: block;
  margin-top: vr(0.25);

  svg {
    float: left;
    width: 18px;
    height: 24px;

    use {
      fill: color(bleu-de-france);
    }
  }

  a {
    display: block;
    padding-left: 24px;
    vertical-align: top;
    margin-top: 0.05em;
    margin-left: 6px;
  }
}

.i-location {
  vertical-align: middle;
  display: inline-block;
  margin-right: 0.25em;
  width: vr(1);
}