.Event {
  background: white;
}

// Event Header Image
// ==================
.Event__header {
  display: block;
  position: relative;
  background-position: center center;
  background-size: cover;
  height: 0;
  padding-bottom: 56.25%;
  border-bottom: 1px solid #ddd;
}

.Event__logo {
  position: absolute;
  bottom: 0;
  right: vr(1);
  width: vr(4.5);
  height: vr(4.5);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;

  // bottom: -1px;
  // border: 1px solid #ddd;
}

// Event body
// ==================
.Event__body {
  @include cf;

  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: vr(1);
  font-size: 0.875rem;
  line-height: 1.333;

  @include bp("large") {
    display: block;
  }
}

.Event__title {
  margin-bottom: vr(0.5);
}

.Event__desc {
  flex-grow: 1;

  @include bp("large") {
    @include span(5 of 7);
  }
}

.Event__aside {
  .o-btn {
    display: block;
    text-align: center;
  }

  @include bp("large") {
    @include span(2 of 7 last);

    .o-btn {
      float: right;
      display: inline-block;
      margin-top: vr(0);
      font-size: 1rem;
      padding: 0.5em 0.5em;
      line-height: 1.2em;
    }
  }
}

.Event__time {
  margin-top: vr(0.75);

  .css-clock, span {
    display: inline-block;
    vertical-align: middle;
  }

  span {
    position: relative;
    top: -0.25em;
    margin-left: 0.25em;
  }
}

.Event__location {
  display: block;
  margin-top: vr(0.25);

  svg {
    float: left;
    width: 18px;
    height: 24px;

    use {
      fill: color(bleu-de-france);
    }
  }

  a {
    display: block;
    padding-left: 24px;
    vertical-align: top;
    margin-top: 0.05em;
    margin-left: 6px;
  }
}

.i-location {
  vertical-align: middle;
  display: inline-block;
  margin-right: 0.25em;
  width: vr(1);
}