.Event-group {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: calc(#{vr(1.5)} - 1px);
    width: 2px;
    background: color(malibu);
  }
}

.Event-group__cal {
  @include ff(secondary);

  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 20;
  color: color(firefly);
  height: 3.5em;
}

.Event-group__cal.is-active {
  // background: color(bleu-de-france);
  // color: white;
}

.weekday {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 1.2;
  margin-top: 0.15em;
}

.day {
  line-height: 1;
  font-weight: bold;
  font-size: 2.5em;
  position: relative;

  &:after {
    content: '';
    display: block;
    height: 2px;
    width: calc(#{vr(2.5)} - 1px);
    background: color(firefly);
  }
}

.allweek {
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  line-height: 1;
  margin-bottom: 0.05em;
}

.Event-groups {
  .Partners {
    font-size: 0.9em;
    margin-top: 0.3em;
  }
}

// Adding new items

.Event-groups--new {
  .Event-group:before {
    background: #ddd;
  }

  .Event-group__cal {
    background: #ddd;
    border: 2px solid #ddd;
    box-shadow: inset 0 0 0 2px white;
    text-shadow: none;
  }
}