.Events-header {
  line-height: 1;
  background: color(firefly);
  overflow: hidden;
  margin-bottom: vr(1.1);

  a {
    text-decoration: none;
  }

  & + .l-content {
    margin-top: vr(-1.1);
  }
}

.Events-wrap {
  overflow-x: scroll;
  overflow-y: hidden;
  padding-top: vr(0.5);
  padding-bottom: vr(0.25);

  &::-webkit-scrollbar {
    display: none;
  }

  > .Canvas__fixed-item {
    display: flex;
    align-items: flex-end;
  }
}

// Nav
.Events-nav {
  display: flex;

  @include ff(secondary);

  font-weight: bold;

  a {
    display: inline-block;
    color: color(white);

    // padding: 0 0.5em;
    text-align: center;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);

    &:first-child {
      padding-left: 0;
    }

    @include bp(max med) {
      padding: 0 0.25em;
      min-width: min-content;
    }
  }

  .is-active {
    color: white;
  }
}

.Events-nav__day {
  text-transform: uppercase;
  font-family: 'Fira Sans';
  display: block;
  font-weight: normal;
  letter-spacing: 0.15em;
  font-size: 0.5em;
}

a.Events-nav__weekend {
  color: rgba(white, 0.7);
}

.Events-nav__date {
  position: relative;
  display: block;
  margin-top: 0.1em;
  width: 1.75em;
  height: 1.75em;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    position: absolute;
    content: '';
    display: block;
  }
}

.is-active .Events-nav__date {
  background: color(bleu-de-france);
}

.Events-nav__date--all-week {
  font-size: 0.6em;
  width: 3.5em;
  height: 3.5em;
  margin-top: 0.1666666667em;
}

.Events-nav__text {
  position: relative;
  display: block;
  margin-top: 0.51em;
  margin-left: 0.25em;
  font-size: 1.125em;
  font-weight: normal;
  color: rgba(white, 0.7);
}

.is-active .Events-nav__text {
    color: color(white);
  &:after {
    content: "";
    display: block;
    margin-top: vr(0.125);
    border-bottom: vr(0.15) solid color(bleu-de-france);
  }
}