.l-content {
  background: #F5F5F5;
}

.Event {
  background: white;
  border: 1px solid #eee;

  @include bp("med") {
    // display: flex;
    // flex-direction: column;
    border-radius: 3px;
    box-shadow: 0 1px 0px 0px rgba(black, 0.1);
  }
}

.Event__image {
  display: block;
  position: relative;
  background-position: center center;
  background-size: cover;
  height: 0;
  padding-bottom: 56.25%;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: vr(0.25);
    width: 100%;
    background: color(malibu);
  }
}

.Event__logo {
  position: absolute;

  // border: 4px solid white;
  box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.5);
  bottom: vr(0.25);
  right: vr(1);
  width: vr(4.5);
  height: vr(4.5);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.Event__content {
  position: relative;

  @include cf;

  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: vr(1);
  font-size: 0.875rem;
  line-height: 1.333;

  @include bp("large") {
    display: block;
  }
}

.Event__title {
  font-family: 'Open Sans Condensed';
  font-weight: 700;
  font-size: vr(1);
  margin-bottom: vr(0.5);
}

.Event__desc {
  flex-grow: 1;

  @include bp("large") {
    @include span(5 of 7);
  }
}

.Event__aside {
  .o-btn {
    display: block;
    text-align: center;
  }

  @include bp("large") {
    @include span(2 of 7 last);

    .o-btn {
      float: right;
      display: inline-block;
      margin-top: vr(0);
      font-size: 1rem;
      padding: 0.5em 0.5em;
      line-height: 1.2em;
    }
  }
}

.Event__time {
  margin-top: vr(0.75);

  .css-clock {
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.25em;
  }
}

.Event__location {
  display: block;
  margin-top: vr(0.25);

  a {
    text-decoration: none;
  }

  img {
    float: left;
  }

  svg {
    display: inline-block;
    vertical-align: middle;
    width: 18px;
  }

  svg path {
    fill: color(bleu-de-france);
  }

  a {
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
  }

  div {
    line-height: 1.33;
  }
}

.i-location {
  vertical-align: middle;
  display: inline-block;
  margin-right: 0.25em;
  width: vr(1);
}
