body {
  background: color(bleu-de-france);
}

.Hero {
  background-color: color(bleu-de-france);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.17), rgba(0, 0, 0, 0.17)), url("../images/hero-4.jpg");
  background-image: radial-gradient(circle, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.2)), url("../images/hero-4.jpg");

  background-size: cover;
  background-position: center center;
  height: 100vh;
  width: 100vw;
  color: white;
  font-size: 2.5vh;

  &:before {
    $size: 20vh;

    content: '';
    position: absolute;
    top: -$size;
    left: 0;
    right: 0;
    width: $size * 2;
    height: $size * 2;
    background: color(bleu-de-france);
    margin: auto;
    border-radius: 100%;
    border: 1px solid darken(color(bleu-de-france), 10%);
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
  }

  .btn {
    .spinner.is-hidden {
      border-color: transparent;

      &:before, &:after {
        border-color: inherit;
      }
    }
  }
}

.Hero__right-overlay {
  display: none;
}

.Hero__bottom--mobile {
  display: none;
}

.Hero__content {
  position: relative;
  z-index: 40;
  text-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}

.Hero__title {
  font-family: 'Fira Sans';
  letter-spacing: 0.005em;
  line-height: 1.1;
  text-shadow: 0 0 0.05em rgba(0, 0, 0, 1);
  font-weight: 700;
  letter-spacing: -0.01em;
}

.msg {
  display: inline-block;
  padding: 0.75em 1.5em;
  background: white;
  border: 1px solid transparent;
  color: black;
}

@include bp(orientation portrait) {
  .Hero__logo {
    $fz: 15.68px;
    $hfz: 0.6em;

    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: $hfz;
    box-shadow: 0 0 0 (9px / $fz * $hfz) white, 0 0 0 (18px / $fz * $hfz) color(bleu-de-france), 0 0 (18px / $fz * $hfz) (20px / $fz * $hfz) rgba(0, 0, 0, 0.15);
  }

  .Hero__content {
    padding-top: 15em;
    text-align: center;
  }

  .Hero__title {
    font-size: 2em;
    line-height: 1.18;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    text-shadow: 0 1px 0 black, 0 0 1em rgba(0, 0, 0, 1);

    span {
      display: block;
    }
  }

  .Hero__desc {
    p {
      margin-top: 0.25em;
    }

    p + p {
      margin-top: 0.75em;
    }

    .btn {
      font-size: inherit;
    }
  }

  .Hero__cta {
    display: none;
  }

  .Hero__bottom--mobile {
    display: block;
    position: relative;
    margin-top: -5vh;
    background: color(bleu-de-france);
    filter: drop-shadow(0 -0.3em 0.3em rgba(0, 0, 0, 0.2));

    &:before {
      content: '';
      position: absolute;
      z-index: 50;
      display: block;
      width: 100%;
      height: 0;
      margin-top: -49.8%;
      padding-bottom: 50%;
      background-image: url("../images/out-curve-vertical.svg");
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  .Hero__cta--mobile {
    text-align: center;
    padding-top: 2em;
    padding-bottom: 3em;
    color: white;

    .subscribeForm > * {
      margin-top: 0.75em;
      display: block;
      margin-right: auto;
      margin-left: auto;
    }

    a {
      color: white;
    }

    .Hero__link {
      margin-top: 1em;
    }
  }
}


@include bp(orientation landscape) {
  .Hero {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 1vw;

    &:before {
      $size: 15vw;

      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: -$size;
      right: 0;
      width: $size * 2;
      height: $size * 2;
      margin: auto 0;
    }
  }

  .Hero__right-overlay {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    &:before,
    &:after {
      content: '';
      position: absolute;
    }

    &:before {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-image: url("../images/out-curve.svg");
      background-repeat: no-repeat;
      background-position: calc(100% - 9.9em) 0%;
      background-size: contain;
      filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
    }

    &:after {
      top: 0;
      bottom: 0;
      right: 0;
      width: 10em;
      background: color(bleu-de-france);
    }
  }

  .Hero__logo {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 20;
    border-radius: 100%;

    $hfz: 15.68px;

    font-size: inherit;
    flex-shrink: 0;
    margin-left: 3em;
    box-shadow: 0 0 0 (9px / $hfz * 1em) white, 0 0 0 (18px / $hfz * 1em) color(bleu-de-france), 0 0 5px (20px / $hfz * 1em) rgba(0, 0, 0, 0.15);
  }

  .Hero__content {
    position: relative;
    z-index: 40;
    margin-left: 26em;
    color: white;
    text-shadow: 0 1px 0 black, 0 0 50px rgba(0, 0, 0, 0.5);
  }

  .Hero__title {
    position: relative;
    font-size: 4em;
    text-shadow: 0 0 0.1em rgba(0, 0, 0, 1);
  }

  .Hero__desc {
    position: absolute;

    @include bp(mega) {
      font-size: 0.8vw;
    }


    p {
      margin-top: -0.25em;
    }

    p + p {
      margin-top: 0.75em;
    }

    .btn {
      font-size: inherit;
    }
  }

  .Hero__cta {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    font-family: 'Fira Sans';
    padding: 1.5em;

    @include typi($even-smaller-map);

    > div {
      float: right;
    }

    p {
      font-size: 0.85em;
      margin-bottom: 0.5em;
      text-transform: uppercase;
      text-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
    }

    .btn {
      font-size: inherit;
    }

    a {
      color: white;

      &:hover,
      &:active,
      &:focus {
        text-decoration: none;
      }
    }
  }

  .subscribeForm,
  .msg,
  .Hero__link {
    display: inline-block;
    vertical-align: middle;
  }

  .subscribeForm > * + * {
    margin-left: 0.125em;
  }

  .Hero__link {
    margin-left: 0.25em;
  }
}