.Hero {
  position: relative;
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: white;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.17), rgba(0, 0, 0, 0.17)), url("/images/hero-4.jpg");
  background-size: cover;
  background-position: center center;
  font-size: 1vw;

  &:before {
    $size: 15vw;

    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -$size;
    right: 0;
    width: $size * 2;
    height: $size * 2;
    background: color(bleu-de-france);
    margin: auto 0;
    border-radius: 100%;
    border: 1px solid darken(color(bleu-de-france), 10%);
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
  }
}

.Hero__right-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("/images/out-curve.svg");
    background-repeat: no-repeat;
    background-position: calc(100% - 10em) 0%;
    background-size: contain;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 10em;
    background: color(bleu-de-france);
  }
}

.Hero__logo {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 20;
  border-radius: 100%;

  $hfz: 15.68px;

  font-size: inherit;
  flex-shrink: 0;
  margin-left: 3em;

  // box-shadow: 0 0 0 (9px / $hfz * 1em) white, 0 0 0 (18px / $hfz * 1em) color(bleu-de-france), 0 0 5px (20px / $hfz * 1em) rgba(0,0,0,0.5);
}

.Hero__content {
  position: relative;
  z-index: 40;
  margin-left: 26em;
  color: white;
  text-shadow: 0 1px 0 black, 0 0 50px rgba(0, 0, 0, 0.5);

  @include bp(mega) {
    margin-left: 27em;
  }
}

.Hero__title {
  // font-family: 'purista-web';
  // font-family: 'quatro-slab';
  // font-family: "kulturista-web";
  font-family: 'Fira Sans';
  letter-spacing: 0.005em;
  position: relative;
  font-size: 2.4em;
  line-height: 1.15;
  text-shadow: 0 2px 0 black, 0 0 50px rgba(0, 0, 0, 1);
  font-weight: 700;

  @include bp(mega) {
    font-size: 2em;
    line-height: 1.15;
  }
}

.Hero__title1 {
  font-family: 'Fira Sans';
  font-size: 1em;
  font-weight: 700;
  line-height: 1;
}

.Hero__title2 {
  font-family: 'Fira Sans';
  font-size: 3em;
  font-weight: bold;
  line-height: 1.2;
}

.Hero__desc {
  font-family: 'Open Sans';

  @include bp(mega) {
    font-size: 0.7em;
  }


  p {
    margin-top: 0.5em;
  }

  p + p {
    margin-top: 0.75em;
  }

  .btn {
    font-size: inherit;
  }

  a {
    color: white;

    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
    }
  }
}

.Hero__menu {
  @include typi($even-smaller-map);
  color: white;
  font-family: 'Fira Sans';
  // font-size: _ty-strip-unit(ms(-1)) * 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  // background: rgba(0,0,0,0.5);
  // box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  padding-left: 1.5em;
  padding-bottom: 1.5em;

  .btn {
    @include typi($even-smaller-map);
  }

  p {
    font-size: 0.85em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
  }
}