// Interrupt Banner
// ----------------
// - Found between bars of content
// - Insert new Interrupt in events.json by setting
//   type to interrupt
// ==========
.Interrupt {
  background: color(bleu-de-france);
  margin-top: vr(1);
  margin-bottom: vr(1);
  padding-top: vr(2);
  padding-bottom: vr(2);
  color: color(white);

  // padding-left: vr(2.5);
}

.Interrupt__title {
  margin-bottom: vr(0.75);
}

.Interrupt__cta {
  margin-top: vr(0.5);

  .Interrupt__title + & {
    margin-top: vr(1);
  }
}

// LEGACY
// ==========
.c-tickets {
  text-align: center;
}

.c-interrupt__jobs {
  @include cf;

  h4 {
    margin-bottom: rhythm(0.5);
  }
}

.c-interrupt__job {
  text-decoration: none;
  display: block;
  margin-top: rhythm(1);

  @include bp(med) {
    @include gallery(4 of 12);

    margin-top: rhythm(2);
  }
}

.c-section-intro {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: rhythm(3);
  margin-bottom: rhythm(2);
}

.c-generic {
  text-align: center;
  margin-top: rhythm(3);

  ul {
    max-width: span(8);
    margin-top: rhythm(1);
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    column-count: 2;
    column-width: span(4 of 8);
  }

  li {
    list-style-position: inside;
  }
}

.c-interrupt__job-image {
  padding: rhythm(0.75) rhythm(1);
  margin-bottom: rhythm(0.25);
  background: white;
}