// Jobs Layout
// ==========
$j-margin: vr(0.5);

.l-jobs {
  max-width: 45em;
}

.l-job {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-right: $j-margin * -1;
  margin-left: $j-margin * -1;

  > div {
    margin: $j-margin;
  }

  > div:first-child {
    flex-basis: calc(#{percentage(1 / 4)} - #{$j-margin * 2});
  }

  > div:last-child {
    flex-basis: calc(#{percentage(3 / 4)} - #{$j-margin * 2});
  }
}



.Employer, .Job {
  display: block;
  padding: vr(1);
  background: #fff;
}

.Job + .Job {
  margin-top: vr(1);
  text-decoration: none;
}