// Jobs Layout
// ==========
$j-margin: vr(0.5);

.l-jobs {}

.l-job {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-right: $j-margin * -1;
  margin-left: $j-margin * -1;

  > div {
    margin: $j-margin;
  }

  > div:first-child {
    flex-basis: calc(#{percentage(1 / 3)} - #{$j-margin * 2});
  }

  > div:last-child {
    flex-basis: calc(#{percentage(2 / 3)} - #{$j-margin * 2});
  }
}