// Navigation (Mobile)
// ----------
// - Off Canvas Navigation that's triggered by
//   clicking on Menu button
// - TODO: Think of how mobile nav triggers for other pages
// ==========

.Nav--mobile {
  a {
    display: block;

    // Make top and bottom visually equal
    padding: vr(0.65) vr(0.75) vr(0.5);
    color: color(white);
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
      background: rgba(color(bleu-de-france), 0.2);
    }
  }

  a.is-active {
    background: rgba(color(bleu-de-france), 0.6);
  }
}

// Navigation (Desktop)
// ----------
// - Navigation that's always present on the left of every page
// ==========
.Nav--desktop {
  position: relative;
  left: vr(-0.5);

  @include typi($h5-map);

  line-height: vr(0.8);

  a {
    display: block;
    text-decoration: none;

    &:first-child {
      font-weight: bold;
    }
  }

  &.is-fixed {
    position: fixed;
    top: vr(3.8);
  }
}

// .c-mobile-menu {
//   color: rgba(white, 0.9);
//   padding: rhythm(0.5) rhythm(1);

//   .Event__title {
//     padding-top: rhythm(0.5);
//     padding-bottom: rhythm(0.5);
//   }

//   a {
//     text-decoration: none;
//   }
// }

// .c-mobile-menu__nav {
//   a {
//     display: block;
//     color: rgba(white, 0.5);
//     padding: rhythm(0.5) 0;
//     margin-right: rhythm(-1);
//     padding-right: rhythm(1);
//     border-top: 1px solid rgba(white, 0.25);

//     &:hover,
//     &:active,
//     &:focus,
//     &.active {
//       color: white;
//     }
//   }
// }

// .c-footer__nav {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: center;
//   margin-top: rhythm(2);
//   margin-bottom: rhythm(-2);
//   padding: rhythm(0) rhythm(0.5);

//   a {
//     padding: 0 rhythm(0.25);
//     line-height: rhythm(1.5);
//     text-decoration: none !important;

//     @include bp("med") {
//       padding: 0 0.5em;
//     }

//     &:hover,
//     &:active,
//     &:focus {
//       text-decoration: underline;
//       color: white;
//     }
//   }
// }