@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}


@-webkit-keyframes spinner {
  to {
    -webkit-transform: rotate(360deg);
  }
}

.spinner {
  position: relative;
  width: 1em;
  height: 1em;
}

.spinner:before {
  content: 'Loading...';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1.5em;
  height: 1.5em;
  margin-top: -10px;
  margin-left: -10px;
}

.spinner:not(:required):before {
  content: '';
  border-radius: 100%;
  border-top: 3px solid white;
  border-right: 3px solid transparent;
  animation: spinner .6s linear infinite;
  -webkit-animation: spinner .6s linear infinite;
  animation-play-state: play;
}

.spinner.play:not(:required):before {
  animation-play-state: running;
}