$off-canvas-width: 280px;
$transition-duration: 0.3s;

// Off Canvas Menu
// ----------
// - Stays fixed to the left side.
// - Transitions with 'left' property because of the need for a sticky header (for context)
// ==========
.Canvas__off {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -$off-canvas-width;
  width: $off-canvas-width;
  background: mix(black, color(bleu-de-france), 90%);
  transition: left $transition-duration ease-out;
  overflow: auto;
  z-index: 10000;

  .show-off-canvas & {
    left: 0;
  }
}

.Canvas__on {
  position: relative;
  left: 0;
  z-index: 20;
  overflow: auto;
  // Enable webkit overflow, but spoils the logo..
  // -webkit-overflow-scrolling: touch;
  background: whitesmoke;
  transition: left $transition-duration ease-out;

  .show-off-canvas & {
    left: $off-canvas-width;
  }
}

.jsFixedHeaderClone .Canvas__fixed-item {
  position: relative;
  left: 0;
  transition: left $transition-duration ease-out;

  .show-off-canvas & {
    left: $off-canvas-width;
  }
}