// Layouts
// =======

.wrap {
  @include container(hide);

  padding-left: vr(0.5);
  padding-right: vr(0.5);

  @include bp(med) {
    padding-left: vr(1.5);
    padding-right: vr(1.5);
  }
}

.l-new-wrap {
  padding-left: vr(1);
  padding-right: vr(1);

  @include bp(med-large) {
    padding-left: vr(6);
  }
}

.wrap--header {
  @extend .wrap;

  max-width: 1240px;
}

.wrap--events-header {
  @extend .wrap;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.l-content {
  position: relative;
  padding-top: vr(1);
  padding-bottom: vr(2);
  background: #F5F5F5;
}

// Community Layout
// ==========
$com-margin: vr(0.5);

.l-community {
  margin-top: vr(0.75);

  @include bp(med-large) {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-left: $com-margin * -1;
    margin-right: $com-margin * -1;
  }
}

.l-community-item {
  margin: vr(0.5) 0;

  @include bp(med-large) {
    flex-basis: calc(#{percentage(1 / 3)} - #{$com-margin * 2});
    flex-grow: 1;
    margin: $com-margin;
  }


  @include bp(wide) {
    flex-basis: calc(#{percentage(1 / 4)} - #{$com-margin * 2});
  }
}

// Hotel Layout
// ------------
$hotel-margin: vr(0.75);

.l-hotels {
  @include bp(med) {
    display: flex;
    flex-wrap: row wrap;
    margin-left: -$hotel-margin;
    margin-right: -$hotel-margin;
  }
}

.l-hotel {
  margin: vr(1) 0;

  @include bp(med) {
    margin: $hotel-margin;
    flex-basis: calc(#{percentage(1 / 3)} - #{$hotel-margin * 2});
    flex-grow: 1;
  }
}