// Theme base
// ----------

p + *,
* + p {
  margin-top: vr(0.75);
}

// Adds default UL and LI styles back ONLY for articles
// Adds margin bottom of 1 rhythm to images ONLY for articles
article {
  ul,
  ol {
    padding-left: 1rem + vr(0.5);
  }

  li + li {
    margin-top: vr(0.25);
  }

  ul li {
    list-style-type: disc;
  }

  ol li {
    list-style-type: decimal;
  }

  * + h2 {
    margin-top: vr(1.5);
  }
  h2 + p {
    margin-top: vr(0.25);
  }
}