// Layouts
// ==========

@mixin l-normal {
  max-width: 35rem;
  padding-left: vr(1);
  padding-right: vr(1);

  @include bp(med) {
    margin: auto;
    padding-left: 0;
    padding-right: 0;
  }
}

@mixin l-large {
  max-width: 45rem;
  margin-right: auto;
  margin-left: auto;
  padding-left: vr(1);
  padding-right: vr(1);

  @include bp("large-with-pad") {
    padding-left: 0;
    padding-right: 0;
  }


  @include bp(mega) {
    max-width: 50rem;
  }
}

.wrap {
  @include l-normal;
}

.wrap--large {
  @include l-large;
}

.wrap--flex {
  display: flex;

  @include l-large;
}

// Layouts (left/right)

.l-g2 {
  display: flex;
  flex-flow: column;

  > * + * {
    margin-top: vr(1);
  }

  @include bp(small) {
    $g2-gutter: 0.5;

    flex-flow: row;
    margin-left: vr($g2-gutter * -1);
    margin-right: vr($g2-gutter * -1);

    > * {
      margin: 0 vr($g2-gutter);
      flex-basis: calc(50% - #{vr($g2-gutter * 2)});
    }
  }
}

.logo {
  height: vr(1.5);
  width: auto;
}

// Nav
// ==========
nav {
  background: black;
}

nav .wrap--flex {
  justify-content: space-between;
  align-items: center;
  padding-top: vr(0.5);
  padding-bottom: vr(0.5);

  @include typi($nav-map);

  color: white;
}

nav a {
  color: white;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  margin-left: vr(0.75);
  font-weight: bold;
}

.nav__mobile {
  display: flex;
  align-items: center;
  color: white;
  cursor: pointer;

  span {
    @include acumin;

    margin-right: 0.5em;
  }

  svg {
    color: white;
    width: vr(1);
    height: vr(0.9);
  }
}

// Canvas
// ------------
.canvas {
  overflow-x: hidden;
}

.canvas__off {
  position: fixed;
  right: vr(-10);
  top: 0;
  bottom: 0;
  width: vr(10);
  background: black;
  z-index: 10;
  transition: transform 0.4s ease-out;

  .canvas.is-shown & {
    transform: translateX(vr(-10));
  }

  a:not(.btn) {
    display: block;
    color: white;
    text-decoration: none;
    padding: vr(0.5) vr(1);
  }

  a,
  a:hover,
  a:active,
  a:focus {
    transition: background 0s linear;
  }

  a:hover {
    background: color(marine);
  }

  a + a:not(.btn) {
    border-top: 1px solid #555;
  }

  .btn {
    display: block;
  }
}

.canvas__on {
  transition: transform 0.4s ease-out;
}

.canvas.is-shown .canvas__on {
  transform: translate3d(vr(-10), 0, 0);
}

.logo {
  @include ff(header);

  font-family: 'acumin-pro-extra-condensed';
  font-weight: bold;

  @include typi($logo-map);

  @include acumin;
}

// Intro
.Intro {
  position: relative;
  color: white;
  padding-top: vr(3.5);
  padding-bottom: vr(3.5);

  @include bp(mega) {
    padding-top: vr(5);
    padding-bottom: vr(5);
  }
}

.Intro__bg {
  $bgblur: 5px;

  position: absolute;
  top: $bgblur * -2;
  left: $bgblur * -2;
  right: $bgblur * -2;
  bottom: $bgblur * -2;
  z-index: -1;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../images/developer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0%;
  text-shadow: 0 1px 0 black, 0 0 15px rgba(0, 0, 0, 0.45);
  filter: blur($bgblur);
}

.Intro__overlay {
  margin: vr(-2);
  padding: vr(2);

  // background: rgba(0, 0, 0, 0.25);
}

.Intro__content {
  max-width: 35rem;
}

.Intro__cta {
  margin-top: vr(1.5);
}

.About {
  position: relative;
}

.About__img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: block;
  background-image: url("../images/cohort-logo-icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: calc(100% + #{vr(4)}) calc(100% + #{vr(3)});
  opacity: 0.05;
}

// Why
// ------------

.why {
  overflow-x: hidden;

  // background: orange;
}

.why__item {
  position: relative;

  // padding-left: vr(1);
  // padding-right: vr(1);
  margin-top: vr(1.5);

  @include bp(med) {
    padding-left: 0;
    padding-right: 0;
  }


  + .why__item {
    @include bp(tiny) {
      margin-top: vr(2);
    }


    @include bp(med) {
      margin-top: vr(4);
    }
  }

  .why__grid {
    margin-top: vr(1);

    $g2-gutter: 0.75;

    @include bp(small) {
      margin-top: 0;
      display: flex;
      flex-flow: row;
      align-items: center;
      margin-left: vr($g2-gutter * -1);
      margin-right: vr($g2-gutter * -1);

      > * {
        margin: 0 vr($g2-gutter);
      }

      > div:nth-child(1) {
        flex-basis: calc(#{percentage(2 / 8)} - #{vr($g2-gutter * 2)});
      }

      > div:nth-child(2) {
        flex-basis: calc(#{percentage(6 / 8)} - #{vr($g2-gutter * 2)});
      }
    }


    @include bp(med) {
      $g2-gutter: 1.5;

      margin-left: vr($g2-gutter * -1);
      margin-right: vr($g2-gutter * -1);

      > * {
        margin: 0 vr($g2-gutter);
      }

      > div:nth-child(1) {
        flex-basis: calc(#{percentage(3 / 8)} - #{vr($g2-gutter * 2)});
      }

      > div:nth-child(2) {
        flex-basis: calc(#{percentage(5 / 8)} - #{vr($g2-gutter * 2)});
      }
    }
  }

  svg {
    width: vr(8);
    height: vr(8);

    @include bp(small) {
      width: 20vw;
      height: 20vw;
    }
  }
}

.why__title {
  @include bp(max small) {
    text-align: center;
  }
}

.why__image {
  float: left;
  margin-right: vr(0.5);

  @include bp(small) {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    float: none;

    // &:after {
    //   content: '';
    //   display: block;
    //   width: vr(1);
    //   height: vr(0.125);
    //   background: color(midnight);
    // }
  }
}

.flip {
  transform: scaleX(-1);
}

@include bp(small) {
  .why__item:nth-child(even) {
    .why__image {
      order: 3;
    }

    .why__content {
      order: 0;

      // text-align: right;

    }
  }

  .why__item:nth-child(odd) {
    .why__image {
      order: 0;
    }

    .why__content {
      order: 3;
    }
  }
}


.why__item--first {
  @extend .why__item;

  margin-top: 0;
}

.why .why__item--first {
  .why__image {
    display: none;
  }

  .why__content {
    text-align: left;
    flex-basis: 50%;
  }
}

// Tuition
// ==========

.tuition {
  .small {
    margin-top: vr(0.5);
    max-width: 30em;
    margin-right: auto;
    margin-left: auto;
    color: #999;
  }
}

.tuition__table {
  margin-top: vr(1.5);
}

.tuition__price {
  display: flex;
  flex-flow: column;
  text-align: center;
  padding: vr(1);
  border: vr(0.125) solid #ddd;
  background: white;
  color: color(coralred);
  text-decoration: none;
  transition: border 0.15s ease-out, background 0.15s ease-out;

  @include bp(tiny) {
    padding: vr(2) 0;
  }


  &:hover,
  &:active,
  &:focus {
    border-color: color(coralred);
    background: white;
    transition: border 0.15s ease-in, background 0.15s ease-in;
  }

  .tuition__title:after {
    content: '';
    display: block;
    width: vr(1);
    height: vr(0.125);
    margin: vr(1) auto vr(0.5);
    background: color(coralred);
  }

  ul {
    flex-grow: 1;
    max-width: vr(12);
    margin-right: auto;
    margin-left: auto;
    margin-top: vr(0.5);
    padding: 0;
    padding-left: vr(2.2);
    padding-right: vr(1.4);
    text-align: left;

    @include typi($small-map);
  }

  li {
    list-style-type: disc;
    margin: 0;
    padding: 0;
  }

  li + li {
    margin-top: vr(0.25);
  }

  .btn {
    display: inline-block;
    margin-top: vr(0.5);
  }
}

.tuition__price--secondary {
  @extend .tuition__price;

  color: color(marine);

  &:hover,
  &:active,
  &:focus {
    border-color: color(marine);
  }

  .tuition__title:after {
    background: color(marine);
  }
}

// Instructors
// ==========

.Instructor {
  display: block;
  margin-top: vr(0.75);

  > div:nth-child(1) {
    @include bp(max small) {
      float: left;
      max-width: vr(6);
      margin-right: vr(0.75);
      margin-bottom: vr(0.75);
    }
  }

  @include bp(small) {
    $sg: 0.75;

    margin-top: vr(1.25);
    display: flex;
    margin-left: vr($sg * -1);
    margin-right: vr($sg * -1);

    > div {
      margin: 0 vr($sg);
    }

    > div:nth-child(1) {
      flex-basis: calc(#{percentage(3 / 8)} - #{vr($sg * 2)});
    }

    > div:nth-child(2) {
      flex-basis: calc(#{percentage(5 / 8)} - #{vr($sg * 2)});
    }
  }
}

.Instructor__title,
.Instructor__name,
.Instructor__pos {
  @include bp(max small) {
    text-align: center;
  }
}

.Instructor--flip {
  @extend .Instructor;

  > div:nth-child(1) {
    order: 3;
  }

  > div:nth-child(2) {
    order: 0;
    text-align: right;
  }
}

.Instructor__img {
  padding-top: vr(0.25);
}

// .Instructor {
//   // overflow-x: hidden;
//   // max-width: 50%;
//   // margin-left: auto;
//   // margin-right: auto;
// }

// .l-structure {
//   margin-top: vr(1.5);
// }

// .l-structure {
//   // overflow-x: hidden;
//   $sg: 1.25;

//   display: flex;
//   margin-left: vr($sg * -1);
//   margin-right: vr($sg * -1);

//   > div {
//     margin: 0 vr($sg);
//     flex-basis: calc(#{percentage(1 / 2)} - #{vr($sg * 2)});
//   }
// }

// .Instructor__info {
//   // text-align: center;
//   // margin-top: vr(0.75);
//   // margin-bottom: vr(0.25);
// }

// Location
// ------------

.cuppage-container {
  overflow-x: hidden;
  margin-bottom: 0;
}

.cuppage {
  margin-top: vr(0.75);
  margin-left: -2px;
  margin-right: -2px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), url("../images/collage.jpg");
  background-size: cover;
  background-position: 50% 100%;
  text-shadow: 0 1px 0 #000;
  font-weight: bold;
  height: 0;
  padding-bottom: 56.7627494%;
}

// Modal
.Modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0);
  transition: background-color 0.25s ease-in, z-index 0s 0.25s linear;
  align-items: center;

  @include typi($small-map);
}

.Modal.is-shown {
  z-index: 40;
  background: rgba(0, 0, 0, 0.7);
  transition: background-color 0.25s ease-out, z-index 0s 0s linear;
}

.Modal__overlay {
  // @extend %l-single--container;
}

.Modal__content {
  max-width: 25rem;
  position: relative;
  padding: vr(2);
  background: #fff;
  opacity: 0;
  box-shadow: 0 0 1rem #000;
  transition: opacity 0.25s ease-in, transform 0.25s ease-in;
  transform: scale(0.9, 0.9);

  h2 {
    margin-top: 0;
  }

  p {
    margin-top: vr(0.5);
  }
}

.Modal.is-shown .Modal__content {
  opacity: 1;
  transition: opacity 0.25s ease-out, transform 0.25s ease-out;
  transform: scale(1, 1);
}

.Modal__close {
  position: absolute;
  top: vr(0.75);
  right: vr(0.75);
  width: vr(1);
  height: vr(1);
  cursor: pointer;
}

// Form
// ==========
form {
  display: block;

  label {
    display: block;
    margin-top: vr(0.75);
  }

  span {
    display: block;
    margin-bottom: vr(0.125);

    @include typi($small-map);
  }

  input {
    display: block;
    border: 1px solid #ddd;

    @include typi($small-map);

    padding: 0.5em 0.75em;
    width: 100%;
  }
}

.form__success {
  display: none;
}

.form__error {
  @include typi($even-smaller-map);
  color: color(coralred)
}

.form__success.is-shown {
  display: block;
}

// Utilities
// ==========
.u-text-center {
  text-align: center !important;
}

.u-text-right {
  text-align: right !important;
}