
// Colors
// ======
// For project colors.
//
// Approach:
// ---------
// @LandonSchropp's approach of naming color variables.
// - http://davidwalsh.name/sass-color-variables-dont-suck
// - http://chir.ag/projects/name-that-color/
//
// Usage:
// ------
// .test {
//   background-color: color(shamrock);
// }
//
// OPTIONAL:
// --------
// Sublime gutter: https://sublime.wbond.net/packages/Gutter%20Color
// See the colors you used in the gutter (Awesome if you use sublime text)
// ==========

$colors: (
  mine: rgba(0,0,0,0.5),
  // mine: #484848,
  coralred: #ff414a,
  marine: #395a9c,
  midnight: #222242,
  sunglow: scale_color(#ffcd47, $saturation: 0%, $lightness: -5%)
  // sunglow: #ffcd47
  );

