
// Themes
// ------
// Map for project themes. Uses a theming method
// developed by @zellwk with the help of @ezekkkg.
// See Themify mixin for more info.
// ======
$themes: (
  sunglow: (
    background: color(sunglow),
    ),
  midnight: (
    color: #fff,
    background: color(midnight)
    ),
  gray: (
    background: #fafafa,
    border: #ddd
    )
  );
