// Nicer Ampersands

@font-face {
  font-family: 'Ampersand';
  src: local('Baskerville-Italic'), local('GoudyOldStyleT-Italic'), local('Palatino-Italic'), local('Garamond-Italic');
  unicode-range: U+26;
}

// Font Families
// ------------
$font-families: (
  header: ('Ampersand', 'acumin-pro-condensed', Helvetica, Arial, sans-serif),
  text: ('acumin-pro-semi-condensed', Helvetica, Arial, sans-serif),
  code: ('Menlo', 'Monaco', 'Consolas', monospace),
  );

// Typography
// ----------
// For all Typography related values.
// ==========

$ms-ratio: 1.25;

$typi: (
  null: (21px, 1.4),
  );

$h1-font-map: (
  null: (ms(4), vr(2))
  );

$h2-font-map: (
  null: (ms(3), 1.3)
  );

$h3-font-map: (
  null: (ms(2), 1.3)
  );

$h4-font-map: (
  null: (ms(1), 1.3)
  );

$h5-font-map: (
  null: (ms(1), 1.3)

  );

$h6-font-map: (
  null: (ms(1), 1.3)
  );
